body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin: 0 auto;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1024px;
}

.menu-block {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
}

.list-group {
  max-height: 85vh;
  overflow-y: auto;
  margin-top: 10px;
}

.list-group-item {
  font-size: 15px;
}

.input-group {
    margin-top: 10px;
}

.btn {
    box-shadow: inset 0 1px 0 0 #bbdaf7;
    filter: ;
    background: #79bbff linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #528ecc;
    width: 240px;
}

.btn:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff', GradientType=0);
    background: #378de5 linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
}

.btn:active {
    position: relative;
    top: 1px;
}

input {
    height: 26px;
    border-radius: 6px;
    width: 98%;
}

ul {
    padding-inline-start: 0px;

}

li {
    list-style: none;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    border-radius: 6px;
    background-color: white;
    margin-right: 3px;
}

p {
    width: 222px;
    margin: 0 2px;
}

.delete-info {
    margin-top: 15px;
}

.update-info {
    margin-top: 15px;
}